.vertical-center {
    margin: 0;
    position: absolute;
    /* top: 42%; */
     top: 20vw;
}

.body-bg-color {
    background-color: rgb(241, 241, 241);
}

.arrow-size {
    margin-top: 190px;
    margin-left: 575px;
    height: 40px;
}

.main-heading {
    font-family: roboto;
    font-weight: bold;
    color: whitesmoke;
    font-size: 45px;
}

.education-heading {
    font-family: roboto;
    font-weight: bold;
    color: rgb(46, 46, 59);
    font-size: 36px;
}

.main-desc {
    font-family: roboto;
    font-weight: bolder;
    color: rgb(211, 209, 209);
    font-size: 25px;
}

.main-desc-1 {
    font-family: Comic Sans MS;
    font-weight: bolder;
    color: rgb(46, 46, 59);
    font-size: 22px;
}

.sub-heading {
    font-family: system-ui;
    font-weight: bold;
    color: rgb(46, 46, 59);
    font-size: 32px;
}

.sub-desc {
    font-family: sans-serif;
    font-weight: bolder;
    color: rgba(110, 110, 110, 0.864);
    font-size: 15px;
}

.section1-bg {
    background-image: url('/img/Dots.png');
    background-repeat: no-repeat;
    background-size: 590px 500px;
    background-position: 0% 20%;
}

.section2-bg {
    background-image: url('/img/Dots.png');
    background-repeat: no-repeat;
    background-size: 590px 500px;
    background-position: 0% -10%;
}

.section3-bg {
    background-image: url('/img/Dots.png');
    background-repeat: no-repeat;
    background-size: 590px 500px;
    background-position: 0% 10%;
}

.section4-bg {
    background-image: url('/img/Dots.png');
    background-repeat: no-repeat;
    background-size: 590px 500px;
    background-position: 0% 10%;
}

.card-heading1 {
    font-family: system-ui;
    font-weight: bold;
    color: white;
    font-size: 23px;
}

.card-heading {
    font-family: system-ui;
    font-weight: bold;
    color: rgb(46, 46, 59);
    font-size: 21px;
}

.modal-title {
    font-family: system-ui;
    font-weight: bold;
    color: rgb(46, 46, 59);
    font-size: 20px;
}

/* .card {
    height: 240px;
} */

.progress-heading {
    font-family: system-ui;
    font-weight: bold;
    color: rgb(46, 49, 51);
    font-size: 13px;
}

.modal-heading {
    font-family: system-ui;
    font-weight: bold;
    color: rgb(46, 49, 51);
    font-size: 15px;
}

.f-20px {
    font-size: 20px;
}

.f-12px {
    font-size: 12px;
}

.blue-bar {
    background-color: #17bed2;
}

* {
    box-sizing: border-box;
}

.h-3px {
    height: 3px;
}

.h-500px {
    height: 500px;
}

.zoom {
    transition: transform .2s;
    /* width: 225px;
    height: 230px; */
    background-color: #17bed2;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.icon-color-light {
    color: #ffa705;
}

.heightcontact {
    height: 200px;
}

#background {
    position: absolute;
    z-index: 0;
    display: block;
    min-width: 50%;
}

#bg-introtext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 41%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-abouttext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 35%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-experiencetext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 37%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-experiencetext1 {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 9%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-certificationtext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 3%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-graduationtext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 10%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-hsctext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 5%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-sslctext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 38%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-worktext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 29%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
}

#bg-contacttext {
    color: rgb(78, 78, 78);
    font-size: 60px;
    margin-left: 25%;
    font-family: sans-serif;
    font-weight: 800;
    opacity: 10%;
    
}

.content-lg {
    padding-top: 65px;
    /* padding-bottom: 65px; */
}

.content-xl {
    padding-top: 105px;
    /* padding-bottom: 65px; */
}

@media (min-width: 1200px) {
    .bg-text-display {
       display: none!important;
    }
  }

  @media (min-width: 1366px) {
    .bg-text-display1 {
       display: block!important;
    }
  }

  
  /* .hex-bg {
    background-image: url('img/Hexagon-Light-Blue-PNG.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 55px;
} */


.hexagon-wrapper {
    margin: auto;
    display: flex;
    text-align: initial;
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  
  .hexagon {
    position: relative;
    width: 46%;
    height: 80%;
    margin: auto;
    color: white;
    background: #30302f;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
  }
  
  .hexagon i {
    z-index: 1;
    /* margin: auto; */
    font-size: 50px;
    color: transparent;
    background: whitesmoke;
    background-clip: text;
    -webkit-background-clip: text;
    font-style: normal!important;
    font-weight: bold;
    font-family: system-ui;
  }
  
  .hexagon:before,
  .hexagon:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .hexagon:before {
    transform: rotateZ(60deg);
  }
  .hexagon:after {
    transform: rotateZ(-60deg);
  }

  .my-grayscale {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  }
  
  /* Disable grayscale on hover */
  .my-grayscale:hover {
    -webkit-filter: grayscale(0);
    filter: none;
  }

  .h-180px {
      height: 180px;
  }


  .animated-text:after {
    content: ".";
    display: inline;
    width: 6px;
    text-indent: 0;
    /* overflow: hidden; */
    background: var(--col-icon);
    animation: blink 0.3s infinite alternate;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: blink;
}

.animated-text span {
    display: none;
    line-height: 1;
  }
  
  .animated-text span.active {
    display: inline;
  }
  
  .animated-text:after {
    content: ".";
    display: inline;
    width: 6px;
    text-indent: 0;
    /* overflow: hidden; */
    background: var(--col-icon);
    animation: blink 0.3s infinite alternate;
  }
  .datawords{
    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  
.background-blue {
  background-color: #17bed2;
}


.fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

#btnScrollToTop {
    width: 50px;
    height: 50px;
    color: #17bed2;
    margin: 8px;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 5px 5px rgb(0 0 0 / 30%);
    text-decoration: none;
    position: fixed;
    outline: none;
    bottom: 10px;
    right: 10px;
    /* animation: up 1.5s infinite;
    -webkit-animation: up 1.5s infinite; */
}
